VITE_API_URL=/api
VITE_SUPABASE_URL=https://wlzrvuwuhbtrjobcarar.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndsenJ2dXd1aGJ0cmpvYmNhcmFyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwMDUzOTUsImV4cCI6MjA5NTU4MTM5NX0.7ZW76kOC2thuylZqeZzB7mq02gFbg3m3XdA0YdQmJB0
